body{
	width:100%;
	margin:0 auto;
	padding:0px;
	font-family: "Courier New";
	background:#ccc;
	text-align: center;
}

span{
	margin-right: 10px;
	font-size: 22pt;
}

button, select{
	width:120px;
	background: #eee;
	color:#000;
	height:35px;
	margin:5px;
	border:0px;
	border-radius: 5px;
}

select{
	padding:5px;
	width:150px;
}

button:hover{
	background: #aaa;
	cursor: pointer;
}

.app{
	padding: 20px;
	background:#ddd;
	border-radius: 5px;
	display: table;
	margin: 0 auto;
	margin-top: 10%;
}

.app-box{
	height:150px;
}

div.controls{
	margin-top: 20px;
}